[user]
	name = Thomas Hallock
	email = thomas@evolutioniq.com
[rebase]
	autosquash = true
[rerere]
	enabled = true
[diff]
	algorithm = patience
[alias]
	msg = show-branch --no-name @
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	pushf = push --force-with-lease
[merge]
	conflictstyle = diff3
	tool = vim
[core]
	excludesfile = /Users/thomas.hallock/.gitignore
	pager = cat
	editor = vim
[mergetool "vim"]
	cmd = vim -O $MERGED
	trustExitCode = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[color]
	ui = always
[init]
	defaultBranch = main
