[user]
	name = antialias
	email = thomas.hallock@compass.com
[rebase]
	autosquash = true
[rerere]
	enabled = true
[diff]
	algorithm = patience
[alias]
	msg = show-branch --no-name @
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	pushf = push --force-with-lease
[merge]
	conflictstyle = diff3
	tool = vim
[core]
	excludesfile = /Users/thomas.hallock/.gitignore
	pager = cat
	editor = vim
[mergetool "vim"]
	cmd = vim -O $MERGED
	trustExitCode = false
